<!-- <div class="user-edit-page">
  <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), class: "px-3", local: true, method: :patch do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="profile">
      <img id="profile-img-prev" src="#" class='hidden' />
      <% if @user.profile_image.url.nil? %>
        <%= image_tag 'profile_default_img_128.png' %>
      <% else %>
        <%= image_tag @user.profile_image.url, class: "profile-img", id: "profile-img" %>
      <% end %>
      <label class="profile-img-upload">
        <%= f.file_field :profile_image, id: "profile_image_upload" %>ファイルを選択
      </label>
    </div>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
    </div>

    <div class="form-group">
      <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
    </div>

    <div class="form-group">
      <%= f.text_area :about_me, class: "form-control", placeholder: "紹介", rows: "4" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワード" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "パスワードの確認" %>
    </div>

    <div class="user-edit__submit-btn">
      <%= f.submit "保存", class: "btn btn-block text-white" %>
    </div>
  <% end %>

</div> -->


	<!-- Page Content -->
	<div class="pt-5 pb-5">
		<div class="container">
				<!-- User info -->
			<div class="row align-items-center">
				<div class="col-xl-12 col-lg-12 col-md-12 col-12">
					<!-- Bg -->
					<div class="pt-16 rounded-top" style="background-color: #d1eaf1; no-repeat; background-size: cover;"></div>
					<div
						class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom shadow-sm">
						<div class="d-flex align-items-center">
							<div class="mr-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                <% if @user.profile_image.present? %>
                <%= image_tag @user.profile_image.url, class: "avatar-xl rounded-circle border-width-4 border-white" %>
                <% else %>
                <%= image_tag "profile_default_img_128.png", class: "avatar-xl rounded-circle border-width-4 border-white" %>
                <% end %>
							</div>
							<div class="lh-1">
								<h2 class="mb-0">
									<%= @user.name %>
								</h2>
								<p class="mb-0 d-block"><%= @user.email %></p>
							</div>
						</div>
						<div>
							<a href="dashboard-student.html" class="btn btn-outline-primary btn-sm d-none d-md-block">Go to
								Dashboard</a>
						</div>
					</div>
				</div>
			</div>

	<!-- Content -->

			<div class="row mt-4">
				<div class="col-lg-3 col-md-4 col-12">
					<!-- Side navbar -->
					<nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
						<!-- Menu -->
						<a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
						<!-- Button -->
						<button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
							data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="fe fe-menu"></span>
						</button>
						<!-- Collapse navbar -->
						<div class="collapse navbar-collapse" id="sidenav">
							<div class="navbar-nav flex-column">
								<span class="navbar-header">Account Settings</span>
                <!-- List -->
								<ul class="list-unstyled ml-n2 mb-0">
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="profile-edit.html"><i class="fa fa-home nav-icon"></i>HOME</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="security.html"><i class="fe fe-user nav-icon"></i>Security</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="social-profile.html"><i class="fe fe-refresh-cw nav-icon"></i>Social
											Profiles</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="notifications.html"><i class="fe fe-bell nav-icon"></i>Notifications</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="profile-privacy.html"><i class="fe fe-lock nav-icon"></i>Profile
											Privacy</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="delete-profile.html"><i class="fe fe-trash nav-icon"></i>退会する</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="../index.html"><i class="fas fa-sign-out-alt nav-icon"></i>ログアウト</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
				<div class="col-lg-9 col-md-8 col-12">
					<!-- Card -->
					<div class="card">
						<!-- Card header -->
						<div class="card-header">
							<h3 class="mb-0">Profile Details</h3>
							<p class="mb-0">
								You have full control to manage your own account setting.
							</p>
						</div>
						<!-- Card body -->
            <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true, method: :patch do |f| %>
						<div class="card-body">
							<div class="d-lg-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center mb-4 mb-lg-0">
                  <div class="profile">
                    <img id="profile-img-prev" src="#" class='hidden'/>
                    <% if @user.profile_image.url.nil? %>
                      <div class="img"><%= image_tag 'profile_default_img_128.png', style:"height: 128px; width: 128px; border-radius: 50%; object-fit: cover;" %></div>
                    <% else %>
                      <%= image_tag @user.profile_image.url, class: "profile-img", id: "profile-img" %>
                    <% end %>
                  </div>
									<div class="ml-3">
										<h4 class="mb-0">アイコン画像</h4>
										<p class="mb-0">画像をアップロードする（縦横200px×200px以上推奨、5MB未満）</p>
								  </div>
  								<div class="ml-4 mt-3">
                    <label class="profile-img-upload">
                      <a class="btn btn-outline-success btn-sm">
                        ファイルを選択
                         <%= f.file_field :profile_image, id: "profile_image_upload", style: "display:none"%>
                      </a>
                  </label>
  								</div>
                </div>
							</div>
							<hr class="my-5" />
							<div>
								<h4 class="mb-0">Personal Details</h4>
								<p class="mb-4">
									Edit your personal information and address.
								</p>
								<!-- Form -->
								<form class="form-row">
									<!-- First name -->
									<div class="form-group col-12 col-md-6">
										<label class="form-label" for="fname">First Name</label>
										<input type="text" id="fname" class="form-control" placeholder="First Name" required />
									</div>
									<!-- Last name -->
									<div class="form-group col-12 col-md-6">
										<label class="form-label" for="lname">Last Name</label>
										<input type="text" id="lname" class="form-control" placeholder="Last Name" required />
									</div>
									<!-- Phone -->
									<div class="form-group col-12 col-md-6">
										<label class="form-label" for="phone">Phone</label>
										<input type="text" id="phone" class="form-control" placeholder="Phone" required />
									</div>
									<!-- Birthday -->
									<div class="form-group col-12 col-md-6">
										<label class="form-label" for="birth">Birthday</label>
										<input class="form-control flatpickr" type="text" placeholder="Birth of Date" id="birth"
											name="birth" />
									</div>
									<!-- Address -->
									<div class="form-group col-12 col-md-6">
										<label class="form-label" for="address">Address Line 1</label>
										<input type="text" id="address" class="form-control" placeholder="Address" required />
									</div>
									<!-- Address -->
									<div class="form-group col-12 col-md-6">
										<label class="form-label" for="address2">Address Line 2</label>
										<input type="text" id="address2" class="form-control" placeholder="Address" required />
									</div>
									<!-- State -->
									<div class="form-group col-12 col-md-6">
										<label class="form-label">State</label>
										<select class="selectpicker" data-width="100%">
											<option value="">Select State</option>
											<option value="1">Gujarat</option>
											<option value="2">Rajasthan</option>
											<option value="3">Maharashtra</option>
										</select>
									</div>
									<!-- Country -->
									<div class="form-group col-12 col-md-6">
										<label class="form-label">Country</label>
										<select class="selectpicker" data-width="100%">
											<option value="">Select Country</option>
											<option value="1">India</option>
											<option value="2">UK</option>
											<option value="3">USA</option>
										</select>
									</div>
									<div class="col-12">
										<!-- Button -->
										<button class="btn btn-primary" type="submit">
											Update Profile
										</button>
									</div>
								</form>
							</div>
						</div>
            <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
