<div class="p-lg-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-12 col-12 mt-md-15">
        <%= render partial: 'posts/search', locals: { search_word: @search_word } %>
        <%= render partial: 'posts/category', locals: { category: @categories } %>
      </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-12 mb-5 mt-4">
          <div class="border-bottom pb-2 mb-4 d-lg-flex justify-content-between align-items-center">
            <div>
              <h1 class="mb-0 h2">経験者募集中（※動的ページ作成中）</h1>
            </div>
          </div>
          <div class="card mb-5">
            <div class="card-body pt-2 pb-2">
              <div class="d-flex align-items-center justify-content-start">
                <div class="d-flex align-items-center justify-content-between flex-column">
                    <%= image_tag "profile_default_img_128.png", class: "avatar-lg rounded-circle border-width-4 border-white" %>
                    <%= "山田太郎" %>
                </div>
                <div class="ml-3 d-flex flex-column">
                  <h4 class="mb-1" style="font-weight: bold;"><%= "Ubar Eatsの配達員経験者の方" %></h4>
                  <h5 class="mb-1" style="font-weight: bold;"><%= "大学の卒論でインタビューをさせていただける方を募集しています" %></h5>
                  <div class="d-sm-flex align-items-center flex-xs-sm-column">
                    <li class="list-inline-item"><%= "[評価] -" %></li>
                    <li class="list-inline-item"><%= "[報酬] 2,000円" %></li>
                    <li class="list-inline-item"><%= "[対話方法] ビデオ通話" %></li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
