<!-- Page Content -->
<div class="bg-primary">
  <div class="container">
    <!-- Hero Section -->
    <div class="row align-items-center no-gutters">
      <div class="col-xl-5 col-lg-6 col-md-12">
        <div class="py-5 py-lg-0">
          <h1 class="text-white display-4 font-weight-bold">テスト/テスト/テスト/テスト/テスト/テスト/テスト/テスト</h1>
          <p class="text-white-50 mb-4 lead">テスト/テスト/テスト/テスト</p>
        </div>
      </div>
      <div class=" col-xl-7 col-lg-6 col-md-12 text-lg-right text-center">
        <%= image_tag "interview_1.jpeg", class: "img-fluid" %>
      </div>
    </div>
  </div>
</div>
<div class="bg-white py-4 shadow-sm">
  <div class="container">
    <div class="row align-items-center no-gutters">
      <!-- Features -->
      <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
        <div class="d-flex align-items-center">
          <span
            class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning font-size-md "> <i
              class="fe fe-video"> </i></span>
          <div class="ml-3">
            <h4 class="mb-0 font-weight-semi-bold">30,000 online courses</h4>
            <p class="mb-0">Enjoy a variety of fresh topics</p>
          </div>
        </div>
      </div>
      <!-- Features -->
      <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
        <div class="d-flex align-items-center">
          <span
            class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning font-size-md "> <i
              class="fe fe-users"> </i></span>
          <div class="ml-3">
            <h4 class="mb-0 font-weight-semi-bold">Expert instruction</h4>
            <p class="mb-0">Find the right instructor for you</p>
          </div>
        </div>
      </div>
      <!-- Features -->
      <div class="col-xl-4 col-lg-4 col-md-12">
        <div class="d-flex align-items-center">
          <span
            class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning font-size-md "> <i
              class="fe fe-clock"> </i></span>
          <div class="ml-3">
            <h4 class="mb-0 font-weight-semi-bold">Lifetime access</h4>
            <p class="mb-0">Learn on your schedule</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'about' %>
<%= render 'popular_person' %>
<%= render 'popular_post' %>
<%= render 'recent_post' %>

<div class="container">
    <h1 class="text-center">案件一覧</h1>
    <div class="row">
        <div class="col-md-12 col-sm-12 offset-md-12">
            <table class="table text-center">
                <thread>
                <tr>
                <th>Post_ID</th>
                <th>User_ID</th>
                <th>掲載日</th>
                <th>投稿者</th>
                <th>案件名</th>
                <th>販売価格</th>
                <th>経験</th>
                <th>備考</th>
                <th>お気に入り数</th>
                <th></th>
                </tr>
                </thread>
                <% @post.each do |post| %>
                  <tbody>
                    <td><%= post.id %></td>
                    <td><%= post.user_id %></td>
                    <td><%= post.created_at.to_s(:datetime_jp)  %></td>
                    <td><%= link_to post.user.name, user_path(id: post.user_id) %></td>
                    <td><%= post.title %></td>
                    <td><%= post.price.to_s(:delimited) + "円" %></td>
                    <td><%= post.experience %></td>
                    <td><%= post.detail %></td>
                    <td><%= post.favorite_count %></td>
                    <td><%= link_to "詳細", post_path(post.id), class: "btn btn-primary" %></td>
                    <% if user_signed_in? && post.same_favorite(current_user).present? == true %>
                        <td><%= link_to "お気に入り済", post_favorite_path(post_id: post, id: post.same_favorite(current_user), type: 'tops'), method: :delete, class: "btn btn-secondary" %></td>
                        <% elsif user_signed_in? %>
                        <td><%= link_to "お気に入り", post_favorites_path(post.id, type: 'tops'), method: :post, class: "btn btn-primary" %></td>
                      <% else %>
                        <td><%= link_to "お気に入り", post_favorites_path(post.id, type: 'tops'), method: :post, class: "btn btn-primary" %></td>
                    <% end %>
                  </tbody>
                <% end %>
            </table>
        </div>
    </div>
</div>
