<div class="pt-5 pb-5">
  <div class="container">
    <div class="row mt-4">
      <%= render partial: "mypage/account_menue_mt-0" %>
      <div class="col-lg-9 col-md-8 col-12">
        <div class="border-bottom pb-2 mb-4 d-lg-flex justify-content-between align-items-center">
          <div>
            <h1 class="mb-0 h2">経験者プラン</h1>
          </div>
          <div>
            <%= link_to "新しくプランを作る", new_post_path, class: "text-inherit" %>
          </div>
        </div>
        <% if @post_list.present? %>
          <div class="card mb-4">
            <!-- Card header -->
            <div class="card-header border-bottom-0">
              <h3 class="mb-0"><%= "#{current_user.name}さんのプラン" %></h3>
            </div>
            <!-- Table -->
            <div class="table-responsive border-0">
              <table class="table mb-0 text-nowrap text-center">
                <thead>
                  <tr>
                    <th scope="col" class="border-0">Plan ID</th>
                    <th scope="col" class="border-0">プラン</th>
                    <th scope="col" class="border-0">カテゴリー</th>
                    <th scope="col" class="border-0">更新日</th>
                    <th scope="col" class="border-0">金額</th>
                    <th scope="col" class="border-0"></th>
                    <th scope="col" class="border-0"></th>
                    <th scope="col" class="border-0"></th>
                  </tr>
                </thead>
                <% @post_list.each do |post_list| %>
                  <tbody>
                    <tr>
                      <td class="align-middle border-top-0"><%= post_list.id %></td>
                      <td class="align-middle border-top-0">
                        <h5 class="mb-0">
                          <%= link_to post_list.title, post_path(post_list),data: {"turbolinks" => false}, class: "text-inherit" %>
                        </h5>
                      </td>
                      <% @post_category_relation = PostCategoryRelation.where(post_id: post_list.id).pluck(:category_id)%>
                      <% if @post_category_relation.present? %>
                        <% @category = Category.where(id: @post_category_relation)%>
                        <td class="align-middle border-top-0">
                          <% @category.each do |category|%>
                          <%= "#{category.name}, " %>
                          <% end %>
                        </td>
                      <% else %>
                        <td class="align-middle border-top-0"><%= "未登録" %></td>
                      <% end %>
                      <td class="align-middle border-top-0"><%= post_list.updated_at.to_s(:datetime_jp)%></td>
                      <td class="align-middle border-top-0"><%= post_list.display_price %></td>
                      <% if post_list.purchases.ids.present?%>
                        <td><%= link_to "取引", post_purchases_path(post_id: post_list.id), class: "btn btn-success btn-sm" %></td>
                      <% else %>
                        <td><%= link_to "取引", '', class: "btn btn-secondary disabled btn-sm" %></td>
                      <% end %>
                      <td><%= link_to "編集", edit_post_path(id: post_list.id), class: "btn btn-outline-success btn-sm"%></td>
                      <td><%= link_to "削除", post_path(id: post_list.id), method: :delete, class: "btn btn-outline-danger btn-sm"%></td>
                    </tr>
                  </tbody>
                <% end %>
              </table>
            </div>
          </div>
        <% else %>
          <p>プランはまだ作成されていません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
