<% if @user.id == current_user.id %>
  <%= render partial: 'mypage/profile_heading', locals: { user: @user } %>
<% else %>
  <%= render partial: 'shared/saler_profile_heading', locals: { user: @user } %>
<% end %>
<!-- Content -->
<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-9 col-md-12 col-12 mb-5 mt-4 ">
        <ul class="nav nav-lb-tab mb-6" id="tab" role="tablist">
          <li class="nav-item ml-0" role="presentation">
            <a class="nav-link active font-size-s" style="font-weight: bold;" id="profile-tab" data-toggle="pill" href="#profile" role="tab"
              aria-controls="profile" aria-selected="true">Profile</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" style="font-weight: bold;" id="plan-tab" data-toggle="pill" href="#plan" role="tab"
              aria-controls="plan" aria-selected="false">プラン <span class="text-muted font-size-xs"><%= "( #{@user.posts.count} )" %></span></a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" style="font-weight: bold;" id="review-tab" data-toggle="pill" href="#review" role="tab"
              aria-controls="review" aria-selected="false">レビュー<span class="text-muted font-size-xs"><%= "( #{@reviews.count} )" %></span></a>
          </li>
        </ul>
        <!-- Tab Content -->
        <div class="tab-content" id="tabContent">
          <!-- Tab Pane -->
          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card">
              <div class="card-body">
                <div class="mb-4">
                  <h3 class="mb-2">経験の詳細</h3>
                  <p><%= @user.about_me %></p>
                </div>
                <h4 class="mb-3">What you’ll learn</h4>
                <div class="row mb-3">
                  <div class="col-12 col-md-6">
                    <!-- List group -->
                    <ul class="list-unstyled">
                      <li class="d-flex align-item-center mb-2">
                        <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                        <span>
                          Recognize the importance of understanding your objectives when addressing an audience.
                        </span>
                      </li>
                      <li class="d-flex align-item-center mb-2">
                        <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                        <span>
                          Identify the fundaments of composing a successful close.
                        </span>
                      </li>
                      <li class="d-flex align-item-center mb-2">
                        <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                        <span>
                          Explore how to connect with your audience through crafting compelling stories.
                        </span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-12 col-md-6">
                    <!-- List group -->
                    <ul class="list-unstyled">
                      <li class="d-flex align-item-center mb-2">
                        <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                        <span>
                          Examine ways to connect with your audience by personalizing your content.
                        </span>
                      </li>
                      <li class="d-flex align-item-center mb-2">
                        <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                        <span>
                          Break down the best ways to exude executive presence.
                        </span>
                      </li>
                      <li class="d-flex align-item-center mb-2">
                        <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                        <span>
                          Explore how to communicate the unknown in an impromptu communication.
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
                <p>Maecenas viverra condimentum nulla molestie condimentum. Nunc ex libero, feugiat quis lectus vel,
                  ornare euismod ligula. Aenean sit amet arcu nulla.</p>
                <p>
                  Duis facilisis ex a urna blandit ultricies. Nullam sagittis ligula non eros semper, nec mattis odio
                  ullamcorper. Phasellus feugiat sit amet leo eget consectetur.
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="plan" role="tabpanel" aria-labelledby="plan-tab">
            <div class="mb-2" style="font-weight: bold;">
              <h5 class="mb-0">掲載中のプラン</h5>
            </div>
            <% @user_posts.each do |user_posts| %>
            <div class="card mb-3">
              <div class="card-body">
                <!-- List group -->
                <ul class="list-group list-group-flush">
                  <!-- List group item -->
                  <li class="list-group-item px-0 pb-3 pt-0">
                    <div class="d-flex align-items-center justify-content-between">
                      <%= link_to post_path(id: user_posts) do %>
                        <div class="d-lg-flex align-items-center">
                          <div>
                            <img src="/geeks-1.0.1/dist/assets/images/course/course-wordpress.jpg" alt="" class="rounded img-4by3-lg" />
                          </div>
                          <div class="ml-lg-3 mt-2 mt-lg-0">
                            <h4 class="text-inherit">
                              <%= user_posts.title %>
                            </h4>
                            <ul class="list-inline font-size-xs mb-0 text-inherit">
                              <li class="list-inline-item">
                                <i class="mdi mdi-star text-warning mr-1"></i>
                                <%= user_posts.favorites.count %>
                              </li>
                              <li class="list-inline-item">
                                <i class="fa fa-comments mr-1"></i>
                                <span class="text-muted">
                                  <%= user_posts.comments.count %>
                                </span>
                              </li>
                              <li class="list-inline-item">
                                <i class="fa fa-tags mr-1"></i>
                                <%= user_posts.experience %>
                              </li>
                            </ul>
                          </div>
                        </div>
                      <% end %>
                      <div>
                        <!-- Dropdown -->
                        <span class="dropdown dropleft">
                          <i class="far fa-clock mr-1"></i>
                          <%= time_ago_in_words(user_posts.created_at) + "前" %>
                        </span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <% end %>
          </div>
          <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
            <div class=" mb-2 d-sm-flex flex-xs-sm-column align-items-center">
              <h6 class="mr-5 mb-0"><%= "#{@user.name}さんのレビュー" %></h6>
              <div class="d-flex align-items-center">
                <h6 class="mb-0 mr-2"><%= @user.average_review %></h6>
                <span class="mb-2 font-weight-bold" id="average-review-rating-main" data-score=<%= @user.average_review %>></span>
              </div>
              <!-- JQ評価 -->
              <script>
              $('#average-review-rating-main').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf : '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: function() {
                  return $(this).attr('data-score')
                }
              });
              </script>
            </div>
            <div class="mb-3">
              <% @reviews.each do |review| %>
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <% if review.user.profile_image.present? %>
                      <%= image_tag review.user.profile_image.url, class: "rounded-circle avatar-lg" %>
                    <% else %>
                      <%= image_tag 'profile_default_img_128', class:"rounded-circle avatar-lg" %>
                    <% end %>
                    <div class="ml-2 lh-1">
                      <h4 class="mb-1"><%= review.user.name %></h4>
                      <span class="ml-1 font-size-xs text-muted"><%= time_ago_in_words(review.created_at) + "前" %></span>
                    </div>
                  </div>
                  <div class="d-flex mb-5">
                    <span><%= review.content %></span>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if @user.id == current_user.id %>
        <%= render partial: 'mypage/profile_sidebar', locals: { user: @user } %>
      <% else %>
        <%= render partial: 'shared/saler_profile_sidebar', locals: { user: @user } %>
      <% end %>
    </div>
  </div>
</div>

<% unless @user.id == current_user.id %>

  <% if @is_dm_room == true %>
    <%= link_to "チャットへ", dm_room_path(@dm_room_id.dm_room_id)%>
  <% else %>
    <%= form_for @dmRoom do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
    <% end %>
  <% end %>

<% end %>
