<div class="p-lg-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-9 col-md-12 col-12 mb-5 mt-4">
        <div class="card">
          <!-- Card body -->
          <div class="card-body">
            <h5 class="text-center" style="font-weight: bold;">プラン内容</h5>
            <div class="card-body rounded-lg mb-4 border">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="font-weight-semi-bold mb-2"><%= @post.title %></h3>
              </div>
              <div class="d-flex align-items-center justify-content-between mb-5">
                <span>
                  <li class="list-inline-item"><i class="fa fa-tags mr-1"></i><%= @post.experience %></li>
                </span>
              </div>
              <div class="d-flex mb-5">
                <div class="d-flex flex-column">
                  <li class="list-inline-item"><span class="mr-1">料金:</span><span><%= @post.display_price %></span></li>
                  <li class="list-inline-item mr-3"><span class="mr-1">形式:</span><span>ビデオ通話・チャットどちらも可</span></li>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <% if @user.profile_image.present? %>
                  <%= image_tag @user.profile_image.url, class: "rounded-circle avatar-md" %>
                  <% else %>
                  <%= image_tag "profile_default_img_128.png", class: "rounded-circle avatar-md" %>
                  <% end %>
                  <div class="ml-2 lh-1">
                    <h4 class="mb-1"><%= @user.name %></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card rounded-lg mt-4">
          <div class="card-body">
            <div class="mb-4">
              <div class="mb-4 text-center">
                <h5 class="mb-2" style="font-weight: bold;">購入前のご確認および注意事項</h5>
                <span class="font-size-xs">以下事項の確認の上、申し込みをお願いいたします。</span>
              </div>
              <div class="card-body rounded-lg mb-4" style="background-color: #EBF5F9;">
                <h5 class="mb-2 text-center" style="font-weight: bold;">注意事項</h5>
                <ul class="list-unstyled">
                  <li class="d-flex align-item-center mb-2">
                    <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                    <span>テスト/テスト/テスト/</span>
                  </li>
                  <li class="d-flex align-item-center mb-2">
                    <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                    <span>テスト/テスト/テスト/</span>
                  </li>
                  <li class="d-flex align-item-center mb-2">
                    <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                    <span>テスト/テスト/テスト/</span>
                  </li>
                  <li class="d-flex align-item-center mb-2">
                    <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                    <span>テスト/テスト/テスト/</span>
                  </li>
                  <li class="d-flex align-item-center mb-2">
                    <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                    <span>テスト/テスト/テスト/</span>
                  </li>
                  <li class="d-flex align-item-center mb-2">
                    <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                    <span>テスト/テスト/テスト/</span>
                  </li>
                </ul>
              </div>
              <div class="text-center">
                <% if not @post.user_id == current_user.id %>
                  <%= form_with(model: [@post, @purchase], local: true) do |f| %>
                    <%= f.submit "上記を確認のうえ購入する", class: "btn btn-success text-nowrap btn-lg", style: "font-weight: bold;" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render partial: 'shared/post_sidebar', locals: { user: @user } %>
    </div>
  </div>
</div>
