<div class="container">
    <h1 class="text-center">購入履歴</h1>
      <div class="row">
        <div class="col-md-12 col-sm-12 offset-md-12">
            <table class="table text-center">
                <thread>
                <tr>
                <th>Purchase_ID</th>
                <th>投稿者ID</th>
                <th>Post_ID</th>
                <th>案件名</th>
                <th>価格</th>
                <th>経験</th>
                <th>詳細</th>
                <th></th>
                <th></th>
                </tr>
                </thread>
                  <% if @purchase_logs.present? %><br>
                    <% @purchase_logs.each do |purchase_logs| %><br>
                      <tbody>
                        <td><%= purchase_logs.purchase_ids %></td>
                        <td><%= purchase_logs.user.id %></td>
                        <td><%= purchase_logs.id %></td>
                        <td><%= purchase_logs.title %></td>
                        <td><%= purchase_logs.created_at.to_s(:datetime_jp)  %></td>
                        <td><%= purchase_logs.title %></td>
                        <td><%= purchase_logs.fee %></td>
                        <td><%= purchase_logs.experience %></td>
                        <td><%= purchase_logs.detail %></td>
                        <td><%= link_to "ルーム", '#', class: "btn btn-primary" %></td>
                      </tbody>
                    <% end %>
                  <% end %>
            </table>
            <div class="text-right">
              <%= link_to "戻る", :back %><br>
              <%= link_to "トップ", root_path %><br>
            </div>
          </div>
      </div>
</div>
