<h2>購入履歴</h2>
<% if @purchase_logs.present? %><br>
  <% @purchase_logs.each do |logs| %><br>
    <%= logs.user.name %><br>
    <%= logs.title %><br>
    <%= logs.fee %><br>
    <%= logs.due_date %><br>
    <%= logs.experience %><br>
    <%= logs.detail %><br>
    <%= link_to "チャットルーム", '#'%><br>
  <% end %><br>
<% else %><br>
  <%= link_to "トップ", root_path %><br>
<% end %><br>
<%= link_to "トップ", root_path %><br>
