<% if current_user.id == @purchase.saler_id || @purchase.buyer_id %>
<div class="container">
    <h2 class="text-center">取引内容</h2>
    <div class="row">
        <div class="col-md-12 col-sm-12 offset-md-12">
            <table class="table text-center">
                <thread>
                <tr>
                <th>Room_ID</th>
                <th>Purchase_ID</th>
                <th>販売者ID</th>
                <th>購入者ID</th>
                <th>Post_ID</th>
                <th>掲載日</th>
                <th>案件名</th>
                <th>価格</th>
                <th>経験</th>
                </tr>
                </thread>
                  <tbody>
                    <td><%= @room.id %></td>
                    <td><%= @purchase.id %></td>
                    <td><%= "ID:#{@saler.id} #{@saler.name}" %></td>
                    <td><%= "ID:#{@buyer.id} #{@buyer.name}" %></td>
                    <td><%= @post.id %></td>
                    <td><%= @post.created_at.to_s(:datetime_jp) %></td>
                    <td><%= @post.title %></td>
                    <td><%= @post.price %></td>
                    <td><%= @post.experience %></td>
                  </tbody>
            </table>
            <div class="text-right">
              <%= link_to "戻る", :back %><br>
              <%= link_to "トップページ", root_path %><br>
            </div>
        </div>
    </div>
</div>
<div id="room">
  <a id="video-end" class="btn btn-primary">ビデオ通話を止める</a>
  <room />
</div>
  <%= javascript_pack_tag 'room' %>
  <%= stylesheet_pack_tag 'room' %>
<div class="container">
  <h2 class="text-center">メッセージ</h2>
  <div class="row">
    <div class="col-md-6 col-sm-6 offset-md-3">
      <form class="form-group">
        <textarea data-behavior="room_speaker" data-room_id="<%= @room.id %>" placeholder="メッセージを入力" class="room__message-form_textarea"></textarea>
      </form>
    </div>
  </div>
</div>
<div id='messages'>
  <%= render partial: 'messages/message', collection: @messages %>
</div>
<% end%>
