<div class="container">
  <h1 class="text-center">案件を登録する</h1>
    <%= form_with(model: @post, local: true) do |f| %>  
      <div class="row">
        <div class="col-md-6 col-sm-6 offset-md-3">
          <div class="form-group">              
              <div class="field">
              <%= f.label "案件名" %>
              <%= f.text_field :title,  autofocus: true, autocomplete: "name", class: "form-control" %>
              </div><br>
              <div class="field">
              <%= f.label "販売価格" %>
              <%= f.text_field :fee,  autofocus: true, autocomplete: "fee", class: "form-control" %>
              </div><br>
              <div class="field">
                <%= f.label "掲載終了日" %>
                <%= f.date_field :due_date,  autofocus: true, autocomplete: "fee", class: "form-control" %>
              </div><br>
              <div class="field">
              <%= f.label "経験" %>
              <%= f.text_field :experience,  autofocus: true, autocomplete: "experience", class: "form-control" %>
              </div><br>
              <div class="field">
              <%= f.label "詳細" %>
              <%= f.text_field :detail,  autofocus: true, autocomplete: "detail", class: "form-control" %>
              </div><br>            
              <div class="actions text-right">
                <%= f.submit "投稿する", class: "btn btn-primary" %>
              </div><br>
              <div class="text-right">
                <%= link_to "戻る", :back %>
              </div>
            </div>  
          </div>
      </div>
    <% end %>
  </div>
