<div class="container">
  <h1 class="text-center">レビュー投稿</h1>
  <%= form_with(model: [@post, @purchase, @review], local: true) do |f| %>
  <div class="row">
    <div class="col-md-6 col-sm-6 offset-md-3">
      <div class="form-group">
        <div class="field">
         <%= f.label "レビュー内容" %>
         <%= f.text_field :content, class: "form-control" %>
        </div><br>
        <!-- 評価 -->
        <div class="form-group row" id="star">
         <%= f.label :score,'評価 ', class:'col-md-3 col-form-label' %>
         <%= f.hidden_field :score, id: :review_star %>
        </div>

        <!-- 評価javascript -->
        <script>
          $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            scoreName: 'review[score]',
            half: false,
          });
        </script>

        <div class="actions text-right">
          <%= f.submit "登録する", class: "btn btn-success" %>
        </div><br>
        <div class="text-right">
          <%= link_to "戻る", :back %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
